<html>
{p = ""}
<each
  of="props"
  as="prop"
  key="key"
>
  <!-- {p += key + '="' + prop + '" ';} -->
</each>

<api-viewer
  :="p"
  attribute-knobs="dir(ltr|rtl),theme[small|filled|reverse],indeterminate?"
></api-viewer>

</html>

<script>
  // rollup browser index.js
  // listen attribute and prop changes
  // nested components 
  class simply {
    lifecycle = {
      afterConstruct: function () {
        get(props.component);
        let compName = props.component.split(/[\\\/]/).pop().replace(".html", "");

        // custom element defined, let get jsdoc now
        customElements.whenDefined(compName).then(function (a) {
          // pass inside of <s-component-api> to <api-viewer>
          let insideOfComp = simply.getCompRoot(dom);
          // let template = insideOfComp.querySelector("template[data-target=host]");
          // let passedCompName = template.getAttribute("data-element");
          // var comp = template.content.querySelector(passedCompName);

          // let propObjString = template.content.querySelector("script").innerHTML;
          // let propObj = simply.processPropTemplate(propObjString); 
          // for (var k in propObj) { 
          //   comp.setAttribute(k, simply.prepareAttr(propObj[k]));  
          // }

          // burada component tag'i içindeki prop template'i inline'a dönüştürüp
          // replace edeceğuk 
          dom.querySelector("api-viewer").innerHTML = insideOfComp.innerHTML;
          console.log("toto bu ne", insideOfComp.innerHTML);
          let script = simply.components[compName].script;
          const regex = /^(?<jsdoc>(\s+)?\/\*\*.*\*\/)(\s+)class/gms;
          let m;
          if ((m = regex.exec(script)) !== null) {
            // script tag'i içinde jsdoc var ise
            // ki en günceli her zaman odur
            if (m.groups.jsdoc) {
              // bu mecbur (apiviewerelement)

              //import('https://cdn.skypack.dev/api-viewer-element');
              //import('https://jspm.dev/api-viewer-element@1.0.0-pre.8');
              var jsdoc = m.groups.jsdoc;
              var manifest;

              async function loadManifest(save) {
                if (typeof window.ts == "undefined") {
                  console.log("analyzer is loading");
                  var { create, ts, litPlugin } = await import('https://cdn.jsdelivr.net/npm/@custom-elements-manifest/analyzer@0.10.4/browser/index.min.js');
                  window.ts = ts;
                  window.create = create;
                  window.createSourceFile = ts.createSourceFile;
                }
                else {
                  console.log("analyzer already loaded");
                }
                jsdoc = "function () {" + jsdoc + "\nclass UnityComponent extends HTMLElement {} customElements.define('" + compName + "', UnityComponent);}"
                const modules = [window.ts.createSourceFile(
                  compName + ".html",
                  jsdoc,
                  window.ts.ScriptTarget.ES2015,
                  true
                )];

                var manifest = window.create({
                  modules,
                  context: { dev: false },
                });
                dom.querySelector("api-viewer").manifest = manifest;

                if (save === true) {
                  var request = new XMLHttpRequest();
                  request.open('GET', "save-manifest.php?name=" + compName + "&manifest=" + encodeURIComponent(JSON.stringify(manifest)), true);
                  request.onreadystatechange = function () {
                    if (this.readyState === 4) {
                      if (this.status >= 200 && this.status < 400) {
                        // console.log(this.response);
                      }
                      else {
                        // erol
                      }
                    }
                  };
                  request.send();
                }
              }

              // devimde localimdeyse convert and save 
              if (document.location.host == "root" || document.location.host == "localhost") {
                loadManifest(true);
              }
              else { // online ise
                // console.log("online");
                var request = new XMLHttpRequest();
                request.open('GET', "components/ss-icon.json", true);
                request.onreadystatechange = function () {
                  if (this.readyState === 4) {
                    if (this.status >= 200 && this.status < 400) {
                      // manifest json dosyası var, oradan yapıştır
                      console.log("json'dan");
                      manifest = JSON.parse(this.response);
                      dom.querySelector("api-viewer").manifest = JSON.parse(this.response);
                    }
                    else {
                      // manifest json yok, template içindeki jsdoc'u yapıştır
                      console.log("rebuild manifest");
                      loadManifest(false);
                    }
                  }
                };
                request.send();
              }
            }
          }
        })
      },
      afterFirstRender: function () {
        let _onPropChanged = function (e) {

          if (e.composedPath) {
            var target = e.composedPath()[0];
          }
          else {
            var target = e;
          }

          const { name, type } = target.dataset;
          var apiViewer = this.getRootNode().host;
          let comp = apiViewer.shadowRoot.querySelector("[part='demo-output'] > *");
          console.log({ apiViewer, comp });

          let value;
          switch (type) {
            case 'boolean':
              value = target.checked;
              break;
            case 'number':
              value = target.value === '' ? null : Number(target.value);
              break;
            default:
              value = target.value;
          }
          comp.props[name] = value;

          const { knob, custom } = this.getKnob(name);
          if (knob) {
            if (value == "" || value == null) {
              this.setKnobs(name, "boolean", false, knob.attribute, custom);
            }
            else {
              this.setKnobs(name, type, value, knob.attribute, custom);
            }
          }
        }

        function fillInputs() {
          customElements.get("api-demo-layout").prototype.initKnobs = function (component) {
            var apiViewer = this.getRootNode().host;
            let knobs = apiViewer.shadowRoot.querySelectorAll("api-viewer-panel")[1];
            for (const prop in component.props) {
              try {
                let e = knobs.querySelector("input[data-name='" + prop + "']");
                e.value = component.props[prop];
                if (e.value !== "") {
                  apiViewer.shadowRoot.querySelector("api-demo-layout")._onPropChanged(e)
                }
                else { }
              }
              catch (e) { }
            }
          }
        }

        if (customElements.get('api-demo-layout')) {
          var opc = customElements.get("api-demo-layout").prototype._onPropChanged = _onPropChanged;

          fillInputs();
        }
        else {
          customElements.whenDefined('api-demo-layout').then(() => {
            var opc = customElements.get("api-demo-layout").prototype._onPropChanged = _onPropChanged;
            fillInputs();
          });
        }
      }
    }
  }
</script>