<!DOCTYPE html>
<html>

<head>
	<link
		rel="stylesheet"
		href="https://rsms.me/inter/inter.css"
	>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"
	>
	<link
		rel="stylesheet"
		href="globals.css"
	>
</head>

<body>
	<s-button>Hamdi abi</s-button>
	<s-component-api
		section="demo"
		component="s-button.html"
		shadow
	></s-component-api>

	<script
		type="module"
		src="https://jspm.dev/api-viewer-element@1.0.0-pre.8"
	></script>

	<script src="../simply.js"></script>
	<script>
		get("s-button.html");
		get("s-component-api.html");
	</script>
</body>

</html>