<template>
  <iconify-icon
      <each data.props as prop, key (name)>{key}="{prop}"</each>>
  </iconify-icon>
</template>

<style>
/*
	prevent duplication
	bcs we pass style attribute
	to iconify
*/
:host {
	all: unset!important;
}
</style>

<script>
  class {
    data = {}
    lifecycle = {
      beforeFirstRender: function() {
		    let iconifyURL = "https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js";
		    loadJS(iconifyURL, function () {});
      }
    }
  }
</script>